<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 1 Task</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="firstDiv">
        <h1>{{heading}}</h1>
        <div class="add text-center">
        <input type="email" class="form-control w-50 p-4"  aria-describedby="emailHelp" placeholder="Take a note..." v-model="myinput" v-on:keyup.enter="add">
        <button  class="btn btn-danger ml-2" v-on:click="add">Add Notes</button>
        </div>  
        <ul>
            <li v-for="list in mylist" @click="open()">{{list}}</li>
        </ul>
        <p v-if="mylist.length===0" class="text-center">Add some Notes!!!!</p>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#firstDiv',
            data: {
                heading:"To Do App",
                myinput:"",
                mylist:[
                   
                ]
            },
            methods:{
                add:function(){
                    this.mylist.push(this.myinput);
                    this.myinput="";
                },
                open:function(){

                    window.open(this.mylist, "_blank");  
                }
            }
        });
    </script>
</body>
</html>
